section#about-us.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
    .container
        .about-block-main.clearfix
          .span3
            .about-block.clearfix
              .circle
                i.fa.fa-heart      
              .heading
                h6 DONATE             
                p
                  | Lorem ipsum dolor sit amet consectetuer dipiscing elit sed diam nonummy nibh euismod tinci laoreet dolore magna volutpat.
          .span3
            .about-block.clearfix
              .circle
                i.fa.fa-leaf    
              .heading
                h6 FUNDRAISE
                |               
                p
                  | Lorem ipsum dolor sit amet consectetuer dipiscing elit sed diam nonummy nibh euismod tinci laoreet dolore magna volutpat.
          .span3
            .about-block.clearfix
              .circle
                i.fa.fa-users
              |               
              |             
              .heading
                h6 PARTICIPATE
                |               
                p
                  | Lorem ipsum dolor sit amet consectetuer dipiscing elit sed diam nonummy nibh euismod tinci laoreet dolore magna volutpat.
          .span3
            .about-block.clearfix
              .circle
                i.fa.fa-users
              |               
              |             
              .heading
                h6 PARTICIPATE
                |               
                p
                  | Lorem ipsum dolor sit amet consectetuer dipiscing elit sed diam nonummy nibh euismod tinci laoreet dolore magna volutpat.
