section#about-us.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
    .container
        .about-block-main.clearfix
          // about us features block
          .span3
            // about us feature 1st
            .about-block.clearfix
              .circle
                i.fa.fa-heart
              |               
              |             
              .heading
                h6 DONATE
                |               
                p
                  | Lorem ipsum dolor sit amet consectetuer dipiscing elit sed diam nonummy nibh euismod tinci laoreet dolore magna volutpat.
          // about us feature 1st closed
          .span3
            // about us feature 2nd
            .about-block.clearfix
              .circle
                i.fa.fa-leaf
              |               
              |             
              .heading
                h6 FUNDRAISE
                |               
                p
                  | Lorem ipsum dolor sit amet consectetuer dipiscing elit sed diam nonummy nibh euismod tinci laoreet dolore magna volutpat.
          // about us feature 2nd closed
          .span3
            // about us feature 3rd
            .about-block.clearfix
              .circle
                i.fa.fa-users
              |               
              |             
              .heading
                h6 PARTICIPATE
                |               
                p
                  | Lorem ipsum dolor sit amet consectetuer dipiscing elit sed diam nonummy nibh euismod tinci laoreet dolore magna volutpat.
          // about us feature 3rd closed
          .span3
            // about us feature 3rd
            .about-block.clearfix
              .circle
                i.fa.fa-users
              |               
              |             
              .heading
                h6 PARTICIPATE
                |               
                p
                  | Lorem ipsum dolor sit amet consectetuer dipiscing elit sed diam nonummy nibh euismod tinci laoreet dolore magna volutpat.
          // about us feature 3rd closed
        // about us features block closed
