section#blog-news.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
    .container.clearfix
        .section-title
          // section header
          h5 LATEST NEWS
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .heading-bottom
            .line
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .box-small
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .big
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .box-small
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .line
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | There is no exercise better for the heart than reaching down and lifting people up.
        // section header closed
        .span6.first
          .blog-news-wrap.clearfix
            .blog-news-img.span2
              img(src='img/news/home3/01.jpg', alt='blog post one')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-overlay
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .blog-news-content.span4
              .blog-news-title
                h6 Your Blog Title Here
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-disc
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-captions
                a(href='') 27 comments
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='') Blog Design
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='news-detail.html') Read More
        | &#x9;&#x9;&#x9;&#x9;
        .span6
          .blog-news-wrap.clearfix
            .blog-news-img.span2
              img(src='img/news/home3/02.jpg', alt='blog post one')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-overlay
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .blog-news-content.span4
              .blog-news-title
                h6 Your Blog Title Here
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-disc
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-captions
                a(href='') 27 comments
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='') Blog Design
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='news-detail.html') Read More
        | &#x9;&#x9;&#x9;&#x9;
        .span6.first
          .blog-news-wrap.clearfix
            .blog-news-img.span2
              img(src='img/news/home3/03.jpg', alt='blog post one')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-overlay
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .blog-news-content.span4
              .blog-news-title
                h6 Your Blog Title Here
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-disc
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-captions
                a(href='') 27 comments
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='') Blog Design
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='news-detail.html') Read More
        | &#x9;&#x9;&#x9;&#x9;
        .span6
          .blog-news-wrap.clearfix
            .blog-news-img.span2
              img(src='img/news/home3/04.jpg', alt='blog post one')
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-overlay
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .blog-news-content.span4
              .blog-news-title
                h6 Your Blog Title Here
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-disc
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor.
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .blog-news-captions
                a(href='') 27 comments
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='') Blog Design
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                a(href='news-detail.html') Read More
