section#blog-news.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
    .container.clearfix
        .section-title
          // section header
          h5 LATEST NEWS
          | 
          .heading-bottom
            .line
            | 
            .box-small
            | 
            .big
            | 
            .box-small
            | 
            .line
          | 
          p
            | There is no exercise better for the heart than reaching down and lifting people up.
        // section header closed
        .span6.first
          .blog-news-wrap.clearfix
            .blog-news-img.span2
              img(src='img/news/home3/01.jpg', alt='blog post one')
              | 
              .blog-news-overlay
            | 
            .blog-news-content.span4
              .blog-news-title
                h6 Your Blog Title Here
              | 
              .blog-news-disc
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor.
              | 
              .blog-news-captions
                a(href='') 27 comments
                | 
                a(href='') Blog Design
                | 
                a(href='news-detail.html') Read More
        | 
        .span6
          .blog-news-wrap.clearfix
            .blog-news-img.span2
              img(src='img/news/home3/02.jpg', alt='blog post one')
              | 
              .blog-news-overlay
            | 
            .blog-news-content.span4
              .blog-news-title
                h6 Your Blog Title Here
              | 
              .blog-news-disc
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor.
              | 
              .blog-news-captions
                a(href='') 27 comments
                | 
                a(href='') Blog Design
                | 
                a(href='news-detail.html') Read More
        | 
        .span6.first
          .blog-news-wrap.clearfix
            .blog-news-img.span2
              img(src='img/news/home3/03.jpg', alt='blog post one')
              | 
              .blog-news-overlay
            | 
            .blog-news-content.span4
              .blog-news-title
                h6 Your Blog Title Here
              | 
              .blog-news-disc
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor.
              | 
              .blog-news-captions
                a(href='') 27 comments
                | 
                a(href='') Blog Design
                | 
                a(href='news-detail.html') Read More
        | 
        .span6
          .blog-news-wrap.clearfix
            .blog-news-img.span2
              img(src='img/news/home3/04.jpg', alt='blog post one')
              | 
              .blog-news-overlay
            | 
            .blog-news-content.span4
              .blog-news-title
                h6 Your Blog Title Here
              | 
              .blog-news-disc
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget turpis pulvinar tempor odio sed, adipiscing dolor.
              | 
              .blog-news-captions
                a(href='') 27 comments
                | 
                a(href='') Blog Design
                | 
                a(href='news-detail.html') Read More
