section#clients.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
    .container.clearfix
        .client
          a(href='#')
            img(src='img/clients/01.jpg', alt='client')
        .client
          a(href='#')
            img(src='img/clients/02.jpg', alt='client')
        .client
          a(href='#')
            img(src='img/clients/03.jpg', alt='client')
        .client
          a(href='#')
            img(src='img/clients/05.jpg', alt='client')
        .client
          a(href='#')
            img(src='img/clients/05.jpg', alt='client')