.footer.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
    // footer
    .container.clearfix
      // footer container
      .span3.first
        // footer about
        .footer-logo
          a(href='')
            img.nav-logo-1(src='img//logo.png', alt='logo')
            img.nav-logo-2(src='img/logo2.png', alt='HelpMe HTML5 Template')
            img.nav-logo-3(src='img/logo3.png', alt='HelpMe HTML5 Template')
            img.nav-logo-4(src='img/logo4.png', alt='HelpMe HTML5 Template')
            img.nav-logo-5(src='img/logo5.png', alt='HelpMe HTML5 Template')
            img.nav-logo-6(src='img/logo6.png', alt='HelpMe HTML5 Template')
            img.nav-logo-7(src='img/logo7.png', alt='HelpMe HTML5 Template')
        .footer-disc
          p
            | Curabitur a orci et nulla gravida laoreet. Pellentesque dictum ipsum nec placerat dignissim. Vivamus porta pellentesque libero, sit amet non dictum ipsum nec placerat dignissim. Vivamus porta .
      // footer about end
      .span3
        // footer blog post
        .footer-title
          h6 RECENT FROM BLOG
        .footer-blog-post.clearfix
          .footer-post-thumb
            img(src='img/footer/blog/01.jpg', alt='footer blog post')
          .footer-post-content
            a We&apos;re a non-profit organization bringing clean ...
            p 2015-07-13
        .footer-blog-post.clearfix
          .footer-post-thumb
            img(src='img/footer/blog/02.jpg', alt='footer blog post')
          .footer-post-content
            a We&apos;re a non-profit organization bringing clean ...
            p 2015-07-13
      // footer blog post end
      .span3
        // footer photos
        .footer-title
          h6 OUR PHOTOS
        .footer-photos
          .thumb.first
            img(src='img/footer/photos/thumb/01.jpg', alt='photos')
            .overlay
          .thumb
            img(src='img/footer/photos/thumb/02.jpg', alt='photos')
            .overlay
          .thumb
            img(src='img/footer/photos/thumb/03.jpg', alt='photos')
            .overlay
          .thumb.first
            img(src='img/footer/photos/thumb/04.jpg', alt='photos')
            .overlay
          .thumb
            img(src='img/footer/photos/thumb/05.jpg', alt='photos')
            .overlay
          .thumb
            img(src='img/footer/photos/thumb/06.jpg', alt='photos')
            .overlay
      // footer photos end
      .span3
        // footer item tags
        .footer-title
          h6 ITEM TAGS
        .footer-tags
          a(href='#') DONATE
          a(href='#') Design
          a(href='#') Web
          a(href='#') Help
          a(href='#') Donate
          a(href='#') Need
      // footer items tags end
    // footer container end
    .footer-bottom
      // footer bottom copyrights
      .copyright
        p &copy;2015 HelpMe  HTML Template All rights reserved
    // footer bottom copyrights end
  // footer end
