section#funfact.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
    .container.clearfix
        .counter-main.clearfix
          // FUN FACTS COUNTER START
          .span3.first
            // fun fact counter 1
            .fun-wrap
              #projects.count(data-to='1799', data-speed='4000')
              .funfact
                p  Works
          // fun fact counter 1 end
          .span3
            // fun fact counter 2
            .fun-wrap
              #support.count(data-to='5689', data-speed='4000')
              .funfact
                p  ratings
          // fun fact counter 2 end
          .span3
            // fun fact counter 3
            .fun-wrap
              #offers.count(data-to='456', data-speed='4000')
              .funfact
                p items
          // fun fact counter 3 end
          .span3
            // fun fact counter 4
            .fun-wrap
              #user.count(data-to='599', data-speed='4000')
              .funfact
                p  customers
          // fun fact counter 4 end
        // FUN FACTS COUNTER main end
      // 2nd parallax container closed
    // 2nd parallax section closed
