section#gallary.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
    .container
        .section-title
          // section header
          h5 GALLERY
          .heading-bottom
            .line
            .box-small
            .big
            .box-small
            .line
          p
            | There is no exercise better for the heart than reaching down and lifting people up.
        // section header closed
        #filters
          ul.porfolio-nav
            li.active
              a(data-filter='*', href='#') All
            li
              a(data-filter='.filter-2', href='#') Solid
            li
              a(data-filter='.filter-3', href='#') Design
            li
              a(data-filter='.filter-p', href='#') Print
        .row
          #container-isotope.isotope(style='position: relative; overflow: hidden; height: 423px;')
            // 1st portfolio
            .span4.isotope-item.filter-2.filter-3(style='position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;')
              .portfolio
                .gallary-content
                  img(src='img/gallary/home3/thumb/01.jpg', alt='gallary')
                  | 
                  .gallary-overlay
                    .gallary-title
                      h5 NEED YOUR HELP
                    | 
                    .gallary-links
                      a.group1(href='img/gallary/home3/thumb/01.jpg')
                        i.fa.fa-search
                      | 
                      a.group1(href='#')
                        i.fa.fa-link
            // 1st portfolio end
            // 2nd portfolio
            .span4.isotope-item.filter-p.filter-2(style='position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;')
              .portfolio
                .gallary-content
                  img(src='img/gallary/home3/thumb/02.jpg', alt='gallary')
                  | 
                  .gallary-overlay
                    .gallary-title
                      h5 NEED YOUR HELP
                    | 
                    .gallary-links
                      a.group1(href='img/gallary/home3/thumb/02.jpg')
                        i.fa.fa-search
                      | 
                      a.group1(href='#')
                        i.fa.fa-link
            // 2nd portfolio end
            // 3rd portfolio
            .span4.isotope-item.filter-p.filter-3(style='position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;')
              .portfolio
                .gallary-content
                  img(src='img/gallary/home3/thumb/03.jpg', alt='gallary')
                  | 
                  .gallary-overlay
                    .gallary-title
                      h5 NEED YOUR HELP
                    | 
                    .gallary-links
                      a.group1(href='img/gallary/home3/thumb/03.jpg')
                        i.fa.fa-search
                      | 
                      a.group1(href='#')
                        i.fa.fa-link
            // 3rd portfolio end
            // 4th portfolio
            .span4.isotope-item.filter-2.filter-3(style='position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;')
              .portfolio
                .gallary-content
                  img(src='img/gallary/home3/thumb/04.jpg', alt='gallary')
                  | 
                  .gallary-overlay
                    .gallary-title
                      h5 NEED YOUR HELP
                    | 
                    .gallary-links
                      a.group1(href='img/gallary/home3/thumb/04.jpg')
                        i.fa.fa-search
                      | 
                      a.group1(href='#')
                        i.fa.fa-link
            // 4th portfolio end
            // 5th portfolio
            .span4.isotope-item.filter-3.filter-2(style='position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;')
              .portfolio
                .gallary-content
                  img(src='img/gallary/home3/thumb/05.jpg', alt='gallary')
                  | 
                  .gallary-overlay
                    .gallary-title
                      h5 NEED YOUR HELP
                    | 
                    .gallary-links
                      a.group1(href='img/gallary/home3/thumb/05.jpg')
                        i.fa.fa-search
                      | 
                      a.group1(href='#')
                        i.fa.fa-link
            // 5th portfolio end
            // 6th portfolio
            .span4.isotope-item.filter-2.filter-p(style='position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;')
              .portfolio
                .gallary-content
                  img(src='img/gallary/home3/thumb/06.jpg', alt='gallary')
                  | 
                  .gallary-overlay
                    .gallary-title
                      h5 NEED YOUR HELP
                    | 
                    .gallary-links
                      a.group1(href='img/gallary/home3/thumb/06.jpg')
                        i.fa.fa-search
                      | 
                      a.group1(href='#')
                        i.fa.fa-link
            // 6th portfolio end
          // portfolio main div end
        // portfolio row end
      // portfolio container end
    // portfolio section end
    section#shop.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
      .container
        #upcoming-events
          #events-content.content.clearfix
            .owl-item
              // upcoming events item 1
              .main-shop.clearfix
                // shop main
                .span3
                  // shop item 1
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 1 end
                .span3
                  // shop item 2
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 2 end
                .span3
                  // shop item 3
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 3 end
                .span3
                  // shop item 4
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 4 end
              // shop main div end
            // upcoming events item end
            .owl-item
              // upcoming events item 2
              .main-shop.clearfix
                // shop main
                .span3
                  // shop item 1
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 1 end
                .span3
                  // shop item 2
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 2 end
                .span3
                  // shop item 3
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 3 end
                .span3
                  // shop item 4
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 4 end
              // shop main div end
            // upcoming events item end
            .owl-item
              // upcoming events item 3
              .main-shop.clearfix
                // shop main
                .span3
                  // shop item 1
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 1 end
                .span3
                  // shop item 2
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 2 end
                .span3
                  // shop item 3
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 3 end
                .span3
                  // shop item 4
                  .shop-item
                    .shop-img
                      img(src='img/shop/shop-1/01.jpg', alt='shop item')
                      | 
                      .shop-overlay
                        .shop-detail-button
                          a(href='shop-detail.html') View Detail
                    | 
                    .shop-content
                      .shop-title
                        h6 Product Title Here
                      | 
                      .shop-price
                        h6
                          del $199
                      | 
                      .shop-sale-price
                        h6 $160
                    | 
                    .shop-bottom.clearfix
                      .star-rating
                        // rating
                        .score-callback(data-score='1')
                      // rating end
                      .shop-cart-fav
                        .shop-cart
                          i.fa.fa-shopping-cart
                        | 
                        .shop-fav
                          i.fa.fa-heart-o
                // shop item 4 end
              // shop main div end
