section#latest-causes.os-animation(data-os-animation='fadeInUp', data-os-animation-delay='0s')
    .container.clearfix
        .section-title
          // section header
          h5 OUR CAUSES
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .heading-bottom
            .line
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .box-small
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .big
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .box-small
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .line
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p
            | There is no exercise better for the heart than reaching down and lifting people up.
        // section header closed
        #blog-content.content
          .owl-item
            .span4.first
              .latest-cause-wrap
                .cause-img
                  img(src='img/causes/home2/01.jpg', alt='cause one')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-overlay
                    .cause-donate-btn
                      a(href='donate.html') DONATE NOW
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .cause-content
                  .cause-title
                    h6 Help girls to get Education
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-disc
                    p
                      | Lorem ipsum dolor sit amet consecte tur adipiscisl at dui tempus,dolor sit amet consecte
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .skills-progress
                    .progress_bar(data-value='79')
                      .progress-label Loading...
                    // Progress Bar 2 end
                    .bar-heading
                      // Progress Bar2
                      p
                        | Donate: 
                        span $78,354
                        | /$126,500
            |     
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .span4
              .latest-cause-wrap
                .cause-img
                  img(src='img/causes/home2/02.jpg', alt='cause one')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-overlay
                    .cause-donate-btn
                      a(href='donate.html') DONATE NOW
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .cause-content
                  .cause-title
                    h6 Help girls to get Education
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-disc
                    p
                      | Lorem ipsum dolor sit amet consecte tur adipiscisl at dui tempus,dolor sit amet consecte
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .skills-progress
                    .progress_bar(data-value='79')
                      .progress-label Loading...
                    // Progress Bar 2 end
                    .bar-heading
                      // Progress Bar2
                      p
                        | Donate: 
                        span $78,354
                        | /$126,500
            |    
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .span4
              .latest-cause-wrap
                .cause-img
                  img(src='img/causes/home2/03.jpg', alt='cause one')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-overlay
                    .cause-donate-btn
                      a(href='donate.html') DONATE NOW
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .cause-content
                  .cause-title
                    h6 Help girls to get Education
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-disc
                    p
                      | Lorem ipsum dolor sit amet consecte tur adipiscisl at dui tempus,dolor sit amet consecte
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .skills-progress
                    .progress_bar(data-value='79')
                      .progress-label Loading...
                    // Progress Bar 2 end
                    .bar-heading
                      // Progress Bar2
                      p
                        | Donate: 
                        span $78,354
                        | /$126,500
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .owl-item
            .span4.first
              .latest-cause-wrap
                .cause-img
                  img(src='img/causes/home2/01.jpg', alt='cause one')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-overlay
                    .cause-donate-btn
                      a(href='donate.html') DONATE NOW
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .cause-content
                  .cause-title
                    h6 Help girls to get Education
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-disc
                    p
                      | Lorem ipsum dolor sit amet consecte tur adipiscisl at dui tempus,dolor sit amet consecte
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .skills-progress
                    .progress_bar(data-value='79')
                      .progress-label Loading...
                    // Progress Bar 2 end
                    .bar-heading
                      // Progress Bar2
                      p
                        | Donate: 
                        span $78,354
                        | /$126,500
            |     
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .span4
              .latest-cause-wrap
                .cause-img
                  img(src='img/causes/home2/02.jpg', alt='cause one')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-overlay
                    .cause-donate-btn
                      a(href='donate.html') DONATE NOW
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .cause-content
                  .cause-title
                    h6 Help girls to get Education
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-disc
                    p
                      | Lorem ipsum dolor sit amet consecte tur adipiscisl at dui tempus,dolor sit amet consecte
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .skills-progress
                    .progress_bar(data-value='79')
                      .progress-label Loading...
                    // Progress Bar 2 end
                    .bar-heading
                      // Progress Bar2
                      p
                        | Donate: 
                        span $78,354
                        | /$126,500
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .span4
              .latest-cause-wrap
                .cause-img
                  img(src='img/causes/home2/03.jpg', alt='cause one')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-overlay
                    .cause-donate-btn
                      a(href='donate.html') DONATE NOW
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .cause-content
                  .cause-title
                    h6 Change a Life Through Education
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-disc
                    p
                      | Lorem ipsum dolor sit amet consecte tur adipiscisl at dui tempus,dolor sit amet consecte
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .skills-progress
                    .progress_bar(data-value='79')
                      .progress-label Loading...
                    // Progress Bar 2 end
                    .bar-heading
                      // Progress Bar2
                      p
                        | Donate: 
                        span $78,354
                        | /$126,500
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .owl-item
            .span4.first
              .latest-cause-wrap
                .cause-img
                  img(src='img/causes/home2/01.jpg', alt='cause one')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-overlay
                    .cause-donate-btn
                      a(href='donate.html') DONATE NOW
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .cause-content
                  .cause-title
                    h6 Change a Life Through Education
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-disc
                    p
                      | Lorem ipsum dolor sit amet consecte tur adipiscisl at dui tempus,dolor sit amet consecte
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .skills-progress
                    .progress_bar(data-value='79')
                      .progress-label Loading...
                    // Progress Bar 2 end
                    .bar-heading
                      // Progress Bar2
                      p
                        | Donate: 
                        span $78,354
                        | /$126,500
            |     
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .span4
              .latest-cause-wrap
                .cause-img
                  img(src='img/causes/home2/02.jpg', alt='cause one')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-overlay
                    .cause-donate-btn
                      a(href='donate.html') DONATE NOW
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .cause-content
                  .cause-title
                    h6 Change a Life Through Education
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-disc
                    p
                      | Lorem ipsum dolor sit amet consecte tur adipiscisl at dui tempus,dolor sit amet consecte
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .skills-progress
                    .progress_bar(data-value='79')
                      .progress-label Loading...
                    // Progress Bar 2 end
                    .bar-heading
                      // Progress Bar2
                      p
                        | Donate: 
                        span $78,354
                        | /$126,500
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            .span4
              .latest-cause-wrap
                .cause-img
                  img(src='img/causes/home2/03.jpg', alt='cause one')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-overlay
                    .cause-donate-btn
                      a(href='donate.html') DONATE NOW
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                .cause-content
                  .cause-title
                    h6 Change a Life Through Education
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .cause-disc
                    p
                      | Lorem ipsum dolor sit amet consecte tur adipiscisl at dui tempus,dolor sit amet consecte
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .skills-progress
                    .progress_bar(data-value='79')
                      .progress-label Loading...
                    // Progress Bar 2 end
                    .bar-heading
                      // Progress Bar2
                      p
                        | Donate: 
                        span $78,354
                        | /$126,500
