section#nav
    header#header.navbar-static-top
        .topnav.clearfix
          .container
            .span6.content-left
            .span6.content-right
              .social-share
                ul
                  li
                    a(href='#')
                      i.fa.fa-twitter
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-google-plus
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='#')
                      i.fa.fa-linkedin
        | &#x9;&#x9;&#x9;&#x9;
        .main-header
          .mobile-menu-wrap
            a.mobile-menu-toggle(href='#mobile-menu-01', data-toggle='collapse')
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .container
            h1.logo.navbar-brand
              a(href='index.html', title='HelpMe - home')
                img.nav-logo-1(src='img/logo.png', alt='HelpMe HTML5 Template')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                img.nav-logo-2(src='img/logo2.png', alt='HelpMe HTML5 Template')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                img.nav-logo-3(src='img/logo3.png', alt='HelpMe HTML5 Template')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                img.nav-logo-4(src='img/logo4.png', alt='HelpMe HTML5 Template')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                img.nav-logo-5(src='img/logo5.png', alt='HelpMe HTML5 Template')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                img.nav-logo-6(src='img/logo6.png', alt='HelpMe HTML5 Template')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                img.nav-logo-7(src='img/logo7.png', alt='HelpMe HTML5 Template')
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            nav#main-menu(role='navigation')
              ul.menu
                li.menu-item-has-children
                  a(href='index.html') HOME
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  ul(style='left:0;')
                    li
                      a(href='index.html') Home 1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='home-2.html') Home 2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='home-3.html') Home 3
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='home-4.html') Home 4
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='home-5.html') Home 5
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='home-6.html') Home 6
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='home-7.html') Home 7
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='onepage.html') One Page
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.menu-item-has-children
                  a(href='about-us.html') ABOUT US
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  ul
                    li
                      a(href='about-us.html') ABOUT US 1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='about-us-2.html') ABOUT US 2
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.menu-item-has-children
                  a(href='events-1.html') EVENTS
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  ul
                    li
                      a(href='events-1.html') Events 1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='events-2.html') Events 2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='events-3.html') Events 3
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='events-4.html') Events 4
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='events-detail.html') Events single
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.menu-item-has-children
                  a(href='cause-1.html') CAUSES
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  ul
                    li
                      a(href='cause-1.html') causes 1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='cause-2.html') causes 2
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='cause-3.html') causes 3
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='cause-4.html') causes 4
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='cause-5.html') causes 5
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='cause-6.html') causes 6
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='cause-detail.html') causes single
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.menu-item-has-children
                  a(href='#') PAGES
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  ul
                    li.menu-item-has-children
                      a(href='news-1.html') NEWS
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ul
                        li
                          a(href='news-1.html') News 1
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-2.html') News 2
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-3.html') News 3
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-4.html') News 4
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-5.html') News 5
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-6.html') News 6
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-7.html') News 7
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-8.html') News 8
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-9.html') News 9
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-10.html') News 10
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-11.html') News 11
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-12.html') News 12
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='news-detail.html') News single
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li.menu-item-has-children
                      a(href='gallary-1.html') GALLARY
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ul
                        li
                          a(href='gallary-1.html') Gallary 1
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='gallary-2.html') Gallary 2
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='gallary-3.html') Gallary 3
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='gallary-4.html') Gallary 4
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='gallary-5.html') Gallary 5
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='gallary-6.html') Gallary 6
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='gallary-7.html') Gallary 7
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li.menu-item-has-children
                      a(href='shop-1.html') SHOP
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ul
                        li
                          a(href='shop-1.html') Shop 1
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='shop-2.html') Shop 2
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='shop-3.html') Shop 3
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='shop-4.html') Shop 4
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='shop-detail.html') Shop single
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li.menu-item-has-children
                      a(href='#') OTHER PAGES
                      | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                      ul
                        li
                          a(href='error-404.html') Error 404
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='error-404-2.html') Error 404 2
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='coming-soon.html') Coming Soon
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='under-construction.html') Under Construction
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        li
                          a(href='donate.html') Donation page
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li.menu-item-has-children
                  a(href='contact.html') CONTACT
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  ul
                    li
                      a(href='contact.html') CONTACT 1
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    li
                      a(href='contact-2.html') CONTACT 2
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a.nav-call-action(href='donate.html') DONATE NOW
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          nav#mobile-menu-01.mobile-menu.collapse
            ul#mobile-primary-menu.menu
              li.menu-item-has-children
                a(href='index.html') HOME
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='index.html') Home 1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='home-2.html') Home 2
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='home-3.html') Home 3
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='home-4.html') Home 4
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='home-5.html') Home 5
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='home-6.html') Home 6
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='home-7.html') Home 7
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='onepage.html') One Page
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.menu-item-has-children
                a(href='about-us.html') ABOUT US
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='about-us.html') ABOUT US 1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='about-us-2.html') ABOUT US 2
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.menu-item-has-children
                a(href='events-1.html') EVENTS
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='events-1.html') Events 1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='events-2.html') Events 2
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='events-3.html') Events 3
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='events-4.html') Events 4
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='events-detail.html') Events single
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.menu-item-has-children
                a(href='cause-1.html') CAUSES
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='cause-1.html') causes 1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='cause-2.html') causes 2
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='cause-3.html') causes 3
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='cause-4.html') causes 4
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='cause-5.html') causes 5
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='cause-6.html') causes 6
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='cause-detail.html') causes single
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.menu-item-has-children
                a(href='news-1.html') NEWS
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='news-1.html') News 1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-2.html') News 2
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-3.html') News 3
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-4.html') News 4
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-5.html') News 5
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-6.html') News 6
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-7.html') News 7
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-8.html') News 8
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-9.html') News 9
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-10.html') News 10
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-11.html') News 11
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-12.html') News 12
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='news-detail.html') News single
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.menu-item-has-children
                a(href='gallary-1.html') GALLARY
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='gallary-1.html') Gallary 1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='gallary-2.html') Gallary 2
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='gallary-3.html') Gallary 3
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='gallary-4.html') Gallary 4
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='gallary-5.html') Gallary 5
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='gallary-6.html') Gallary 6
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='gallary-7.html') Gallary 7
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.menu-item-has-children
                a(href='shop-1.html') SHOP
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='shop-1.html') Shop 1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='shop-2.html') Shop 2
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='shop-3.html') Shop 3
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='shop-4.html') Shop 4
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='shop-detail.html') Shop single
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.menu-item-has-children
                a(href='#') OTHER PAGES
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='error-404.html') Error 404
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='error-404-2.html') Error 404 2
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='coming-soon.html') Coming Soon
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='under-construction.html') Under Construction
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='donate.html') Donation page
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.menu-item-has-children
                a(href='contact.html') CONTACT
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                ul
                  li
                    a(href='contact.html') CONTACT 1
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='contact-2.html') CONTACT 2
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li
                a.nav-call-action(href='donate.html') DONATE NOW
