#slideshow
    .fullwidthbanner-container
        .revolution-slider(style='height: 0; overflow: hidden; max-height:840px !important;')
          ul
            li(data-transition='fade', data-slotamount='7', data-masterspeed='1500')
              img(src='img/sliders/revolution_slider/slider1/slide3/main-01.jpg', alt='')
              .tp-caption.sl1-2.sfb.stb.tp-resizeme(data-x='center', data-y='240', data-voffset='40', data-speed='1500', data-endspeed='600', data-start='1700', data-easing='easeOutQuad', style='z-index: 9;')
                .caption-medium-title WE ARE HELPME TEMPLATE
              .tp-caption.sl1-3.sfb.stb.tp-resizeme(data-x='center', data-y='290', data-voffset='40', data-speed='1500', data-endspeed='300', data-start='2700', data-easing='easeOutQuad', style='z-index: 9;')
                .caption-big-title.bold PLEASE DONATE NOW
              .tp-caption.sl1-4.sfb.stb.tp-resizeme(data-x='center', data-y='370', data-speed='1500', data-start='3700', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='1500', data-linktoslide='1', style='z-index: 10;')
                .caption-small-title
                  | Lorem ipsum dolor sit amet consecte tur adipiscin 
                  br
                  | gtitor diam a accumsan justo laoreet.
              // LAYER  4
              .tp-caption.sl1-5.largewhitebg_button1.sfb.stb.tp-resizeme(data-x='center', data-y='450', data-speed='1500', data-start='4000', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='1500', data-linktoslide='1', style='z-index: 11;')
                a(href='donate.html') Donate Now
            li(data-transition='zoomout', data-slotamount='7', data-masterspeed='1500')
              img.tp-resizeme(src='img/sliders/revolution_slider/slider1/slide2/main-01.jpg', alt='')
              .tp-caption.sl-resize.sl-right.sl-img.lfl.str.start.tp-resizeme(data-x='right', data-y='center', data-speed='1500', data-start='500', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='1500', style='z-index: 2;')
                img(src='img/sliders/revolution_slider/slider1/slide2/sub-01.png', alt='slide')
              .tp-caption.sl-left.sl1-2.sfb.stb.tp-resizeme(data-x='left', data-y='200', data-voffset='40', data-speed='1500', data-endspeed='600', data-start='1000', data-easing='easeOutQuad', style='z-index: 9;')
                .caption-medium-title WE ARE HELPME TEMPLATE
              .tp-caption.sl-left.sl1-3.sfb.stb.tp-resizeme(data-x='left', data-y='240', data-voffset='40', data-speed='3000', data-endspeed='1500', data-start='2000', data-easing='easeOutQuad', style='z-index: 9;')
                .caption-big-title.bold
                  | NEED 
                  .blue.caption-big-title.bold YOUR HELP
              .tp-caption.sl-left.sl1-4.sfb.stb.tp-resizeme(data-x='left', data-y='330', data-voffset='20', data-speed='3000', data-endspeed='1500', data-start='2500', data-easing='easeOutQuad', style='z-index: 9;')
                .caption-small-title.ta-left
                  | Lorem ipsum dolor sit amet consecte tur adipiscin 
                  br
                  | gtitor diam a accumsan justo laoreet.
              .tp-caption.sl-left.sl1-5.largewhitebg_button1.lfb.stb.tp-resizeme(data-x='left', data-y='410', data-speed='1500', data-start='3000', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='1500', data-linktoslide='1', style='z-index: 10;')
                a(href='donate.html') Donate Now
            li(data-transition='fade', data-slotamount='7', data-masterspeed='1500')
              img(src='img/sliders/revolution_slider/slider1/slide1/main-01.jpg', alt='')
              .tp-caption.sl1-1-1.sfr.stb.tp-resizeme(data-x='415', data-y='190', data-speed='1500', data-start='1700', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='1500', style='z-index: 5;')
                img(src='img/sliders/revolution_slider/slider1/slide1/02.jpg', alt='')
              .tp-caption.sl1-1-2.sfl.stb.tp-resizeme(data-x='center', data-y='190', data-speed='1500', data-start='2700', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='1500', style='z-index: 6;')
                .caption-medium-title.bold HELLO
              .tp-caption.sl1-1-3.sfr.stb.tp-resizeme(data-x='635', data-y='190', data-speed='1500', data-start='3700', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='300', style='z-index: 7;')
                img(src='img/sliders/revolution_slider/slider1/slide1/02.jpg', alt='')
              .tp-caption.sl1-2.sfb.stb.tp-resizeme(data-x='center', data-y='250', data-voffset='40', data-speed='1500', data-endspeed='600', data-start='4700', data-easing='easeOutQuad', style='z-index: 9;')
                .caption-medium-title WE ARE HELPME TEMPLATE
              .tp-caption.sl1-3.sfb.stb.tp-resizeme(data-x='center', data-y='300', data-voffset='40', data-speed='1500', data-endspeed='300', data-start='5000', data-easing='easeOutQuad', style='z-index: 9;')
                .caption-big-title.bold WE NEED YOUR SUPPORT
              .tp-caption.sl1-4.sfb.stb.tp-resizeme(data-x='center', data-y='390', data-speed='1500', data-start='5500', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='1500', data-linktoslide='1', style='z-index: 10;')
                .caption-small-title
                  | Lorem ipsum dolor sit amet consecte tur adipiscin 
                  br
                  | gtitor diam a accumsan justo laoreet.
              .tp-caption.sl1-5.largewhitebg_button1.sfb.stb.tp-resizeme(data-x='center', data-y='470', data-speed='1500', data-start='5700', data-easing='Power3.easeInOut', data-splitin='none', data-splitout='none', data-elementdelay='0.1', data-endelementdelay='0.1', data-endspeed='1500', data-linktoslide='1', style='z-index: 11;')
                a(href='donate.html') Donate Now