doctype html
html
  head
    title wsdc2015 - Yellow team
    include ./partials/header.jade

    body
      #home-3
        include ./partials/nav.jade
        include ./partials/home/slide.jade
        include ./partials/home/about-us.jade
        include ./partials/home/blog-news.jade
        include ./partials/home/latest-causes.jade
        include ./partials/home/funfact.jade
        include ./partials/home/gallery.jade
        include ./partials/home/clients.jade
        include ./partials/home/footer.jade

      include ./partials/footer.jade

